/* THIS IS THE SECOND ALTERNATIVE IF YOU LIKE THE PILLS STYLE, THIS IS MY EXPERIMENT */

@import "whatever color.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

/* Remove the solid background from the main bar */
#waybar {
    background: transparent;
}

/* Pills test*/
#workspaces,
#custom-power,
#tray,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock,
#backlight,
#power-profiles-daemon {
    background-color: alpha(@background, 0.7);
    /* The main pill part */
    border-radius: 15px;
    /* Make them square, round or just squircle */
    margin: 5px 3px;
    /* Spacing between pills and screen edge */
    padding: 1 10px;
    /* Spacing between words and the pills */
    border: 1px solid alpha(@foreground, 0.1);
    /* Change the border of the pills outline */
}

/* Grouping Workspaces */
#workspaces {
    padding: 0 5px;
}

#workspaces button {
    color: @foreground;
    border: none;
    padding: 0 5px;
    margin: 3px 2px;
}

#workspaces button.active {
    color: @pink;
    background-color: alpha(@select, 0.3);
    border-radius: 50px;
}

/* When you hover your mouse on the pills */
#custom-power:hover,
#network:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: @select;
    transition: background-color 0.5s ease;
}

/* Colors that ovverides text and icon */
#backlight {
    color: @yellow;
}

#network {
    color: @green;
}

#battery {
    color: @purple;
}

#pulseaudio {
    color: @orange;
}

#clock {
    color: @blue;
}

#power-profiles-daemon {
    color: @brown-pink;
}

/* Beat me, just try to experiment */
#custom-power {
    margin-left: 10px;
}

#clock {
    margin-right: 10px;
}